{% extends 'blog/base.html' %}

{% block title %}Edit Settings Page {% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        {% if user.id == profile.user.id %}
            <h1>Edit Settings</h1>
            <br><br>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary">Update Profile</button>
            </form>
            {% else %}
            <h3>You are not correct user</h3>
        {% else %}
            <h2> you are not allowed to add post</h2>
        {% endif %}
    {% endif %}
{% endblock %}