{% extends 'blog/base.html' %}
{% block title %}
    {{ post.title }}
{% endblock %}
{% block content %}
    <h1>{{ post.title }}</h1>
    <p>{{ post.author }} - {{ post.post_date }}
        {% if user.is_authenticated %}
            {% if user.id == post.author.id %}
                <a href="{% url 'blog:update_post' post.pk %}">Edit</a>
                <a href="{% url 'blog:delete_post' post.pk %}">Delete</a>
            {% endif %}
        {% endif %}
    </p>
    <p>{{ post.body | safe}}</p>
    <br>
    <a class='btn btn-primary' href="{% url 'blog:post_list' %}">Back</a>

    <br><br>
    <form action="{% url 'blog:post_like' post.pk %}" method="POST">
        {% csrf_token %}
        {% if user.is_authenticated %}
            {% if liked %}
                <button type="submit" name="post_id" value="{{ post.id }}"
                        class="btn btn-danger btn-sm">UnLike
                </button>
            {% else %}
                <button type="submit" name="post_id" value="{{ post.id }}"
                        class="btn btn-primary btn-sm">Like
                </button>
            {% endif %}
            {{ total_likes }}
        {% else %}
            <h3>Must be logged in to like the post</h3>
        {% endif %}
    </form>
{% endblock %}

