{% extends 'blog/base.html' %}

{% block title %}Update post {% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
        <h1>Update post</h1>
        <br><br>
        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary">Update</button>
            </form>
        </div>
            {% endif %}
    {% else %}
        <h2>You don't have access to edit the post</h2>
    {% endif %}
{% endblock %}